Screen {
    background: $panel;
}

MessageBar {
    height: auto;
    content-align: left middle;
    padding: 1;
    margin: 2;
    background: $boost;
    color: $text;
    border: round #2966cd;
}

NotificationBar {
    height: auto;
    content-align: center middle;
    padding: 0;
    margin: 2;
    background: $boost;
    color: $secondary;
    border: hkey #2966cd;
}

NotificationBar .message {
    margin: 0 1 0 1;
    content-align: center middle;
    color: $secondary;
}

MessageBar .message {
    margin: 0 1 0 1;
    color: #9caccc;
}

Input {
    dock: bottom;
    width: 100%;
    height: 1;
    padding: 0 1;
    margin: 0 1 2 1;
}

Footer {
    background: $surface-lighten-1;
    color: $panel-lighten-3;
}

Footer > .footer--highlight {
    background: $surface;
}

Footer > .footer--highlight-key {
    background: $secondary;
    text-style: none;
}

Footer > .footer--key {
    text-style: bold;
    color: $panel-lighten-3;
    background: $surface;
}

#results {
    width: auto;
    min-height: 100%;
}

#results-container {
    background: $background 50%;
    overflow: auto;
    margin: 1 2;
    height: 100%;
    border: tall #7f8ca6 50%;
}