/* ********** Please don't edit this file! */ 
/* ********** It has been generated automatically by dae_devops version 0.5.2. */ 
/* ********** For repository_name dls-utilpack */ 

/* The theme normally has this, but I think it's ok to use the full width of the window in all @media sizes.

@media (min-width: 960px)
.bd-page-width {
    max-width: 88rem;
}

*/

.bd-page-width {
    max-width: 100%;
}

/* dae_devops_fingerprint 04ccbfb5cc0df02e50da41cd4f7ac238 */ 
