[nosetests]
;Requires nose-exclude package
where=.
exclude-dir=./build
            ./data
            ./device/instrument
            ./device/dut
            ./device/simulator
            ./device/tests
            ./dist
            ./icons
            ./tutorial
            ./view
            ./widget
            ./tests
verbosity=2

#--with-coverage
cover-erase=1
cover-package=sknrf
cover-html=1
cover-html-dir=../doc/source/_static/test_coverage

#--with-xunit
xunit-file=../doc/source/_static/test_coverage/unit_test.xml
