[network_id]
12

[server]
port_rpc
port_peer
port_ws


[port_rpc]
port = 51234
ip = 0.0.0.0
admin = 127.0.0.1
protocol =  https, http

[port_peer]
# port = 2459
port = 3000
ip = 0.0.0.0
protocol = peer

[port_ws]
port = 51233
ip = 0.0.0.0
admin = 127.0.0.1
protocol = wss2,ws

[port_grpc]
port = 50051
ip = 0.0.0.0

[compression]
true

[node_size]
huge

[ssl_verify]
0

[ledger_history]
full

[node_db]
type=nudb
path=/var/lib/rippled/private_nw/db/nudb
earliest_seq=3

[database_path]
/var/lib/rippled/private_nw/db

[debug_logfile]
/var/log/rippled/private_nw/debug.log

[validators_file]
validators.txt

[ips_fixed]
localhost 2459
localhost 2469
localhost 2479
localhost 2489
localhost 2499


[rpc_startup]
{ "command": "log_level", "severity": "debug" }

[signing_support]
true

[voting]
reference_fee = 8
account_reserve = 10000000
owner_reserve = 2000000

[features]
PayChan  
Flow
FlowCross
TickSize
fix1368
Escrow
fix1373 
EnforceInvariants
SortedDirectories
fix1201
fix1512
fix1513 
fix1523
fix1528
DepositAuth
Checks
fix1571
fix1543
fix1623
DepositPreauth
fix1515
fix1578
MultiSignReserve
fixTakerDryOfferRemoval
fixMasterKeyAsRegularKey
fixCheckThreading
fixPayChanRecipientOwnerDir
DeletableAccounts
fixQualityUpperBound
RequireFullyCanonicalSig
fix1781
HardenedValidations
fixAmendmentMajorityCalc
NegativeUNL
TicketBatch
FlowSortStrands
fixSTAmountCanonicalize
fixRmSmallIncreasedQOffers
CheckCashMakesTrustLine
NonFungibleTokensV1
NonFungibleTokensV1_1
fixNonFungibleTokensV1_2
XRPFees
DisallowIncoming


